body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("../back_img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(1px);
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    
    text-align: center;
    color: #ffff;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    margin-bottom: 30px;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.container {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s ease;
}
